# Ejercicios Pair Programming - Modulo 3 - Sprint 1 
## Lección 1 - Intro a Machine Learning
### Pilar García Murillo y Sonia Ruiz Pérez

Empezamos una nueva lección, y este es el momento de poner en práctica los conocimientos adquiridos sobre la Regresión Lineal Simple I. Para ello os vamos a pedir que por vuestra cuenta busqueis un dataset que os guste, por ejemplo de Kaggle o de donde queráis extraerlo. De forma que vamos a probar a realizar ajustes lineales con el fin de predecir alguna de sus variables. Este dataset será el que iremos usando a lo largo de todas las sesiones de pairprogramming de regresión lineal.

***Se ruega a la hora de realizar la entrega que incluyais el conjunto de datos que hayais decidido emplear para estos ejercicios.***

**Objetivos**

Los objetivos de hoy son:
1. Buscar un conjunto de datos a analizar:
    - Es necesario que el conjunto de datos a analizar tenga variables numéricas y categóricas, primando que haya más de una variable de tipo numérico. Ya que tambien se utilizarán serán útiles a la hora de realizar predicciones en las clases de regresión lineal múltiple. Así mismo se recomienda que los datasets esten ligeramente limpios para facilitar los análisis.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
pd.options.display.max_columns=None

In [19]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [24]:
df=sns.load_dataset('taxis')

In [26]:
df.head(3)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan


2. Explicar los datos y las variables disponibles en el conjunto de datos seleccionado:
    - Esto se hace para que comprendais mejor los datos con los que estais trabajando.
    - Realizar un EDA sencillo para la variable dependiente y la variable independiente.

In [29]:
df.shape

(2705, 14)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2705 entries, 0 to 2704
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           2705 non-null   object
 1   dropoff          2705 non-null   object
 2   passengers       2705 non-null   int64
 3   distance         2705 non-null   float64
 4   fare             2705 non-null   float64
 5   tip              2705 non-null   float64
 6   tolls            2705 non-null   float64
 7   total            2705 non-null   float64
 8   color            2705 non-null   object
 9   payment          2685 non-null   object
 10  pickup_zone      2696 non-null   object
 11  dropoff_zone     2689 non-null   object
 12  pickup_borough   2696 non-null   object
 13  dropoff_borough  2689 non-null   object
dtypes: float64(5), int64(1), object(8)
memory usage: 296.0+ KB

In [31]:
df.describe().T

             count       mean        std  min    25%    50%    75%     max
passengers  2705.0   1.585952   1.238597  0.0   1.00   1.00   2.00    6.00
distance    2705.0   2.909982   3.656269  0.0   0.98   1.60   3.04   30.23
fare        2705.0  12.726584  10.838620  1.0   6.50   9.00  14.50  130.00
tip         2705.0   2.202643   2.586182  0.0   0.00   1.95   2.96   33.20
tolls       2705.0   0.346950   1.432546  0.0   0.00   0.00   0.00   17.28
total       2705.0  18.725124  13.518748  1.3  11.30  14.30  20.16  166.00

In [33]:
df.describe(include='object').T

                count unique                    top  freq
pickup           2705   2704    2019-03-17 12:10:05     2
dropoff          2705   2704    2019-03-26 17:39:56     2
color            2705      1                 yellow  2705
payment          2685      2            credit card  1974
pickup_zone      2696    102         Midtown Center   125
dropoff_zone     2689    141  Upper East Side North   122
pickup_borough   2696      4              Manhattan  2454
dropoff_borough  2689      6              Manhattan  2404

In [28]:
df.isnull().sum()

pickup              0
dropoff             0
passengers          0
distance            0
fare                0
tip                 0
tolls               0
total               0
color               0
payment            20
pickup_zone         9
dropoff_zone       16
pickup_borough      9
dropoff_borough    16
dtype: int64

In [34]:
df.duplicated().sum()

0

In [43]:
df.columns

Index(['pickup', 'dropoff', 'passengers', 'distance', 'fare', 'tip', 'tolls',
       'total', 'color', 'payment', 'pickup_zone', 'dropoff_zone',
       'pickup_borough', 'dropoff_borough'],
      dtype='object')

In [44]:
df['pickup_zone'].value_counts()

Midtown Center                      125
Upper East Side South               103
Penn Station/Madison Sq West         99
Clinton East                         97
Lincoln Square East                  93
Midtown East                         91
Times Sq/Theatre District            91
Union Sq                             89
Upper West Side South                86
Murray Hill                          84
Upper East Side North                82
LaGuardia Airport                    77
JFK Airport                          77
East Village                         75
Midtown North                        72
Midtown South                        70
East Chelsea                         69
Lenox Hill West                      60
Gramercy                             58
West Village                         56
Garment District                     55
Sutton Place/Turtle Bay North        49
Greenwich Village North              48
Yorkville West                       48
Lincoln Square West                  47
Greenwich Village South              45
Lenox Hill East                      44
Flatiron                             43
TriBeCa/Civic Center                 43
West Chelsea/Hudson Yards            42
Upper West Side North                42
UN/Turtle Bay South                  36
Yorkville East                       36
Lower East Side                      36
Central Park                         33
Hudson Sq                            30
Little Italy/NoLiTa                  27
Kips Bay                             23
Battery Park City                    22
Meatpacking/West Village West        21
SoHo                                 21
Manhattan Valley                     21
Clinton West                         18
East Harlem South                    14
Financial District North             14
Morningside Heights                  13
World Trade Center                   12
Astoria                              10
Bloomingdale                          8
East Harlem North                     8
Chinatown                             7
Sunnyside                             7
Central Harlem                        7
Seaport                               6
Washington Heights South              5
Hamilton Heights                      5
Fort Greene                           5
Two Bridges/Seward Park               5
Alphabet City                         5
Financial District South              5
Williamsburg (South Side)             4
Stuy Town/Peter Cooper Village        4
Long Island City/Queens Plaza         4
Park Slope                            3
Boerum Hill                           3
Old Astoria                           3
Manhattanville                        3
Brooklyn Heights                      3
Central Harlem North                  3
Steinway                              3
Greenpoint                            2
East Concourse/Concourse Village      2
Cobble Hill                           2
Williamsburg (North Side)             2
Long Island City/Hunters Point        2
Elmhurst                              2
Queensbridge/Ravenswood               2
East New York                         2
Flushing                              2
Downtown Brooklyn/MetroTech           2
Mott Haven/Port Morris                2
Windsor Terrace                       1
Queens Village                        1
West Concourse                        1
Bedford                               1
Jackson Heights                       1
South Jamaica                         1
Bushwick North                        1
Williamsbridge/Olinville              1
Gowanus                               1
Soundview/Castle Hill                 1
Ridgewood                             1
South Ozone Park                      1
East Flatbush/Farragut                1
Prospect Heights                      1
Rosedale                              1
Crown Heights North                   1
Stuyvesant Heights                    1
DUMBO/Vinegar Hill                    1
Queensboro Hill                       1
East Tremont                          1
Flatlands                             1
Name: pickup_zone, dtype: int64

`Nuestra variable respuesta (dependiente) sera la columna 'tips'.`

`Nuestra variable predictora (independiente) será la columna 'total'. Pero creemos que puede que cambiemos de enfoque en un futuro, así que vamos a limpiar la columna 'pickup_zone' de nulos.`

In [52]:
df['tip'].isnull().sum()

0

In [47]:
# limpiamos la columna 'pickup_zone' de nulos. Los eliminamos porque tenemos solo 9 valores nulos.
lista_nulos=list(df[df['pickup_zone'].isnull()].index)
lista_nulos

[42, 606, 622, 671, 712, 970, 1108, 1961, 2137]

In [48]:
df.shape

(2705, 14)

In [49]:
df.drop(lista_nulos,inplace=True)
df['pickup_zone'].isnull().sum()

0

In [50]:
df.shape

(2696, 14)

In [53]:
df.to_csv('files/taxis1.csv')

**Happy coding** 📊📈📉